.footerbox {
  background-color: #eb1c24;
  color: white;
  padding: 20px 0px;
  gap: 10px;
  font-size: 24px;
}
.footerparallax {
  background-attachment: fixed;
  background-image: url("https://grubdigest.com/static/media/parallax-bg.c968545153587a39a86d.webp");
  height: auto;
  padding: 50px 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.callbutton {
  margin-top: 10px;
  background-color: black;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  font-size: 18px;
}
.callbutton:hover{
    background-color:white;
    color: black;
}